---
// src/pages/lista.astro
console.log("Cargando lista.astro");
import Layout from '../layouts/Layout.astro';
import '../styles/style.css';
import Store from '../pages/store.astro';
import Filtro from '../pages/filtro.astro';

---
<Layout>
    <section id="store">
      <Store />
    </section>
    <section id="filtro">
      <Filtro/>
    </section>
  </Layout>
