---
// Supports weights 300-900

import '@fontsource-variable/rubik';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


import '../styles/style2.css';
import '../styles/style.css';

const { headerClass = "" } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"> <!-- Aquí se configura UTF-8 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <title >Embragues del Oriente </title>
   <link rel="icon" href="/images/Logo_Embrages_Oriente.png" type="image/png"> 
</head>

<body>
    <Header headerClass={headerClass} />
    
  
        <slot />
    
    
    
</body>
</html>

    <script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        declare const Swiper: any;

        document.addEventListener('DOMContentLoaded', function() {
            const swiper = new Swiper('.swiper', {
                direction: 'horizontal',
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                    bulletClass: 'banner-pagination-bullet',
                    bulletActiveClass: 'banner-pagination-bullet-active',
                },
            });
        });
    </script>

