---
// Supports weights 300-900
import '@fontsource-variable/rubik';
import Header from '../components/Header.astro'
---  

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embragues</title>
    <link rel="stylesheet" href="../src/styles/style.css">
</head>
<body>
    
    <main>
        <slot />
    </main>
</body>
</html>


