@import '@fortawesome/fontawesome-free/css/all.css';
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Ajusta este valor según la altura de tu header */
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Rubik Variable', sans-serif;
  background-color: #fffefb;
 
  line-height: 1.5;
  color: var(--color-text);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 30px 9%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.3s ease;
  height: 60px; /* Ajusta este valor según la altura de tu header */
}

header.scrolled {
  padding: 15px 9%;
  background-color: #fff;
}


.logo-container {
  margin-right: auto; /* Empuja el logo a la izquierda */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-links li a {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
 
}
.nav-links li a:hover {
  transform: scale(1.2);
  
}
.navbar svg {
  width: 50px; /* Ajusta el tamaño según tus necesidades JM*/
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  
}

header.scrolled .navbar a {
  color: #333;
  text-shadow: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main {
  position: relative;
  z-index: 1;
  padding-top: 140px;
}

/* Estandarización de secciones */
section {
  padding: 4rem 9%; /* Mismo padding para todas las secciones */
  margin: 0; /* Elimina márgenes adicionales */
}

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 9%;
  overflow: hidden;
  margin-bottom: 0;
}

.home-content h1 {
  color: #ffffff;
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 100px;
}

.home-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*========= Styles Services =========*/

.services-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0; /* Elimina el padding interno para usar el de la sección */
}

.services-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 5rem; /* Reduce el margen inferior */
  position: relative;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: #00619a;
  border-radius: 2px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 60px;
  padding: 0; /* Elimina el padding interno para usar el de la sección */
}

.service-card {
  background: white;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.service-icon {
  background: #00619a;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
  color: white;
  font-size: 2rem;
}

.service-title {
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.service-description {
  color: #667;
  font-size: 0.95rem;
  line-height: 1.6;
}

/*=========Styles Product =========*/

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; /* Elimina el padding interno para usar el de la sección */
  background-color: #ffffff;
}

.grid-container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 5rem; /* Reduce el margen inferior */
  position: relative;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-container h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: #00619a;
  border-radius: 2px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  display: block;
}

.grid-item-large {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.grid-item:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}

.grid-item:nth-child(4) {
  grid-column: 1;
  grid-row: 3;
}

.grid-item:nth-child(5) {
  grid-column: 2;
  grid-row: 3;
}

.grid-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-item:hover img {
  transform: scale(1.05);
}

.label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #00619a;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: 'Rubik Variable', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}
/*======== Styles Header social-icons ========*/

.social-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
  
}

.social-icons a {
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
  
}

.social-icons a:hover {
 
  transform: scale(1.2);
}

.social-icons svg {
  width: 24px;
  height: 24px;
  
}

/*======= Styles Contact ========*/

.title-container {
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.title-container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 5rem; /* Reduce el margen inferior */
  position: relative;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-container h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: #00619a;
  border-radius: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; /* Elimina el padding interno para usar el de la sección */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-info {
  padding: 0; /* Elimina el padding interno para usar el de la sección */
}

.contact-info h2 {
  color: #333;
  margin-bottom: 1.5rem; /* Reduce el margen inferior */
  font-size: 24px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Reduce el margen inferior */
  color: #00619a;
}

.contact-item i {
  margin-right: 20px;
  color: #00619a;
  font-size: 30px;
}

.social-links {
  margin-top: 2rem; /* Reduce el margen superior */
}

.social-links h3 {
  margin-bottom: 1rem; /* Reduce el margen inferior */
  color: #333;
}



.form-section {
  padding: 0; /* Elimina el padding interno para usar el de la sección */
}

.form-section h2 {
  color: #333;
  margin-bottom: 1.5rem; /* Reduce el margen inferior */
  font-size: 24px;
}

.form-group {
  margin-bottom: 1rem; /* Reduce el margen inferior */
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem; /* Reduce el margen inferior */
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  height: 120px;
  resize: vertical;
}

.checkbox-group {
  margin: 1rem 0; /* Reduce el margen */
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #00619a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #00619a;
}

.map-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px; /* Elimina el padding interno para usar el de la sección */
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

hr {
  max-width: 1200px;
  margin: 1rem auto; /* Reduce el margen */
  border: none;
  border-top: 1px solid #ddd;
}


/* ====== Styles Menú Inferior ====== */

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
}

.menu-item {
  text-align: center;
  color: #00619a;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

.menu-item i {
  font-size: 20px;
  display: block;
  margin-bottom: 3px;
}

.badge-cart {
  position: absolute;
  top: 0;
  right: -10px;
  background: #00a2ff;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
.badge-wishlist {
  position: absolute;
  top: 0;
  right: 18px;
  background: #00a2ff;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
.bottom-menu {
  display:none;
}

/*===== Mobile Menu Button ======*/

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.hamburger {
  font-size: 1.5rem;
}
.search-container {
  display: none; /* Ocultar el contenedor en dispositivos más grandes */
}










/* Menú desplegable (oculto en pantallas grandes) */

/* Media Queries para teléfonos */
@media (max-width: 768px) {
 
  header {
    padding: 15px 5%;
  }

  header.scrolled {
    padding: 10px 5%;
  }
  .mobile-header {
    padding: 10px;
  }
  .bottom-menu {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ddd;
    z-index: 1000;
  }

  .social-icons {
    display: none;
  }

  .logo-container {
    margin-right: 0; /* Ajusta el margen del logo en móviles */
  }

  .navbar svg {
    width: 35px; /* Ajusta el tamaño del logo en móviles */
    height: auto;
    margin-right: 10px;
  }

  .navbar ul {
    flex-direction: column; /* Cambia la dirección de los enlaces a columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
    padding: 0;
  }

  .navbar li {
    margin: 10px 0; /* Ajusta el margen entre los enlaces */
  }

  .navbar a {
    font-size: 1rem; /* Ajusta el tamaño de la fuente en móviles */
  }
 
  .home {
    padding: 0 5%; /* Reduce el padding en móviles */
  }

  .home-content h1 {
    font-size: 1.6rem; /* Reduce aún más el tamaño de la fuente en móviles */
    margin-top: 80px; /* Ajusta el margen superior */
    margin-bottom: 15px; /* Ajusta el margen inferior */
  }

  .home-content h2 {
    font-size: 1.2rem; /* Reduce aún más el tamaño de la fuente en móviles */
    margin-top: 4rem;
  }

  .services-container {
    padding: 2rem 1rem; /* Ajusta el padding en móviles */
  }

  .services-title {
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente en móviles */
    margin-bottom: 2rem;
  }

  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Ajusta el grid en móviles */
    gap: 30px;
    padding: 1rem;
  }

  .service-card {
    padding: 1.5rem 1rem; /* Ajusta el padding de las tarjetas en móviles */
  }

  .service-title {
    font-size: 1rem; /* Ajusta el tamaño de la fuente en móviles */
  }

  .service-description {
    font-size: 0.85rem; /* Ajusta el tamaño de la fuente en móviles */
  }

  .grid-container {
     padding: 4rem 5% 2rem;
  }

  .grid-container h1 {
     font-size: 2rem;
     margin-bottom: 2rem;
  }

  .grid-layout {
      grid-template-columns: 1fr;
      gap: 15px;
  }

  .grid-item {
      grid-column: auto !important;
      grid-row: auto !important;
  }

  .grid-item-large {
      grid-column: 1 !important;
      grid-row: auto !important;
    }

  /* Ajustes específicos para imágenes en móvil */
  .grid-item-large img {
      height: auto;
      aspect-ratio: 3/4;
  }

  .grid-item:not(.grid-item-large) img {
      height: auto;
      aspect-ratio: 4/3;
  }

  .label {
      padding: 6px 12px;
      font-size: 0.9rem;
  }
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .contact-info, .form-section {
    padding: 1rem;
  }
  
  .map-container iframe {
    height: 300px;
  }
  .menu-btn {
    display: inline-block;
  }
 
    .footer-container {
        flex-direction: column;
        align-items: flex-start; /* Alinea el contenido a la izquierda */
        text-align: left; /* Asegura que el texto también esté alineado a la izquierda */
    }

    .footer-text {
        margin-bottom: 16px; /* Añade espacio entre el texto y la lista */
    }

    .footer-list {
        flex-direction: row; /* Mantiene los elementos en fila */
        flex-wrap: wrap; /* Permite que pasen a otra línea si no caben */
        justify-content: flex-start; /* Asegura que los elementos estén alineados a la izquierda */
    }

    .footer-list li {
        margin-bottom: 0; /* Evita la separación en columnas */
    }
}

/* Menú desplegable (oculto en pantallas grandes) */

.menu-container {
  display: none; /* Oculta el menú desplegable por defecto */
}

.menu-toggle {
  display: none; /* Oculta el checkbox */
}

.menu-icon {
  display: none; /* Oculta el ícono de hamburguesa por defecto */
}


@media screen and (max-width: 480px) {
   .navbar ul.nav-links {
    display: none; /* Oculta los enlaces de navegación en móviles */
  }

  .nav-links {
    display: none; /* Oculta los enlaces de navegación en móviles */
  }

  .menu-container {
    display: block; /* Muestra el contenedor del menú desplegable */
  }

  .menu-icon {
    display: block; /* Muestra el ícono de hamburguesa en móviles */
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 17px;
    right: 10px;
    z-index: 10;
  }

  .hamburger {
    width: 30px;
    height: 4px;
    background-color: #333;
    position: relative;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #333;
    left: 0;
    transition: transform 0.3s ease-in-out; /* Transición para el ícono de hamburguesa */
  }

  .hamburger::before {
    top: -10px;
  }

  .hamburger::after {
    top: 10px;
  }

  .menu {
    background-color: #fff;
    width: 250px;
    height: calc(100vh - 60px); /* Altura máxima del menú */
    overflow-y: auto; /* Permite el scroll si el contenido es muy largo */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed; /* Fija el menú en la pantalla */
    top: 0px; /* Coloca el menú justo debajo del header */
    left: 0;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    transform: translateX(100%); /* Oculta el menú fuera de la pantalla */
    opacity: 0; /* Hace el menú transparente */
    visibility: hidden; /* Oculta el menú sin ocupar espacio */
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.5s; /* Transición suave */
  }

  /* Forma X del menú */
  
  /* Muestra el menú cuando el checkbox está activo */
  .menu-toggle:checked ~ .menu {
    transform: translateX(0); /* Muestra el menú deslizándolo hacia la izquierda */
    opacity: 1; /* Hace el menú visible */
    visibility: visible; /* Hace el menú visible en el flujo del documento */
  }

  .menu-header {
    margin-bottom: 20px;
  }

  .search-input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .menu-categories {
    margin-top: 20px;
  }

  .menu-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .menu-categories ul {
    list-style: none;
    padding: 0;
  }

  .menu-categories li {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Línea de separación */
  }

  .menu-categories li:last-child {
    border-bottom: none; /* Eliminar línea en el último elemento */
  }

  .menu-categories a {
    text-decoration: none;
    color: #333; /* Color fijo para los enlaces del menú */
    font-size: 16px;
    text-shadow: none;
  }
  
  .navbar a {
    color: #333; /* Color inicial para los enlaces del header */
    text-shadow: none;
  }
  
  .menu li {
    border-bottom: 1px solid #444;
  }

  .menu li:last-child {
    border-bottom: none;
  }
  
}
/* Estilos generales del footer */
.footer {
  background-color: #00619a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 26px;
  
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 14px;
  color: #ffffff;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 8px 0 0;
  font-size: 14px;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  gap: 0px; /* Añade espacio entre los elementos */

}

.footer-list li {
  margin-right: 16px;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
}
.wishlist-header {
  background-color: #00619a; /* Cambia el color de fondo a rojo */
  color: #ffffff; /* Cambia el color del texto a blanco */
  
}
header.navbar.wishlist-header .hamburger {
  background-color: #ffffff;
}
header.scrolled.wishlist-header .hamburger {
  background-color: #333;
}
header.navbar.wishlist-header .hamburger::after {
  background-color: #ffffff;
}
header.scrolled.wishlist-header .hamburger::after {
  background-color: #333;
}
header.navbar.wishlist-header .hamburger {
  background-color: #ffffff;
}
header.scrolled.wishlist-header .hamburger {
  background-color: #333;
}
header.navbar.wishlist-header .hamburger::before {
  background-color: #ffffff;
}
header.scrolled.wishlist-header .hamburger::before {
  background-color: #333;
}
/* Aumentar la especificidad */
header.navbar.wishlist-header .navbar a {
  text-decoration: none;
 
  font-weight: bold;
  font-size: 20.48px; /* Tamaño de fuente */
  line-height: 23px; /* Altura de línea */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: color 0.3s;
}
header.navbar.wishlist-header.scrolled .navbar a {
  color: #333; /* Cambia el color del texto */
  text-shadow: none; /* Quita la sombra */
}
/* Estilos específicos para los iconos en el header de wishlist */
header.navbar.wishlist-header .social-icons a {
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}

header.navbar.wishlist-header .menu-categories a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-shadow: none;
  
}
header.navbar.wishlist-header .menu {
  background-color: #fff;
  width: 250px;
  height: calc(98vh - 83px); /* Altura máxima del menú */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}
header.navbar.wishlist-header .nav-links li a {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
 
}
header.navbar.wishlist-header .nav-links li a:hover {
  transform: scale(1.2);
 
}
