

   body {
		margin: 0;
		width: 100%;
		height: 100%;
    font-family: 'Rubik Variable', sans-serif;
    background-color: #fffefb;
	}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 15px 5%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
  transition: all 0.3s ease;
 
}

header.scrolled {
  padding: 15px 9%;
  background-color: #fff;
}
.navbar { 
  display: flex;
  align-items: center;
  justify-content: space-between;
   width: 100%; }
     
.navbar svg { 
       width: 50px; /* Ajusta el tamaño según tus necesidades JM*/
       max-width: 100%; 
       height: auto;
       margin-right: 20px; }  

.navbar ul {
  list-style-type: none; 
  padding: 0;
   display: flex; 
   margin: 0; 
   flex-grow: 1; 
   justify-content: flex-end;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  transition: 0.3s;
}

header.scrolled .navbar a {
  color: #000;
  text-shadow: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main {
  position: relative;
  z-index: 1;
  padding-top: 80px;
}
.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 9%;
  overflow: hidden;
  margin-bottom: 0;
}
.home-content h1 {
  color: #fffefb;
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-top: 200px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 100px;
}

.home-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: #fffefb;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.servicios-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe la altura completa de la pantalla */
  text-align: center; /* Centra el texto horizontalmente */
}

.servicios-content h1 {
  color: #fffefb;
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-top: 50px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
  line-height: 1.3;
  font-weight: 700;
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}




section {
  min-height: auto; 
  
  padding: 10rem 9% 2rem;
}

/* Media Queries para teléfonos */
@media (max-width: 768px) {
  header {
      padding: 15px 5%;
  }

  header.scrolled {
      padding: 10px 5%;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ajusta esto si necesitas cambiar el espacio entre el logo y los enlaces */
    width: 100%;
    /* Opcional: para añadir algo de espacio interno */
  }
  
  .navbar svg {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin-right: 20px;
    /* Puedes añadir más estilos según necesites */
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Permite que los elementos del menú ocupen el espacio restante */ 
    justify-content: flex-end; /* Alínea los elementos del menú al final del contenedor */
    margin-left: auto;
  }

  .navbar li {
    margin-left: 20px;
  }

  .about .container {
      flex-direction: column;
      align-items: center;
  }

  .about .column {
      margin: 10px 0;
  }

  section {
      padding: 5rem 5% 2rem;
  }
}
