
  <about>
  <section class="about" id="about">
 <div class="container"> 
    <div class="column"> 
    <img src="https://w7.pngwing.com/pngs/498/810/png-transparent-truck-truck-gray-large-vehicles-thumbnail.png" alt="camion"> 
    </div> 
    <div class="column"> 
    <h1>Somos importadores y distribuidores de carrocería</h1> <p>Con más de <strong>20 años</strong> de presencia en el mercado colombiano, Mundial de Repuestos se ha posicionado como una de las <strong>principales compañías</strong> autopartistas del país.
    </p> <p>Partes de colisión para todas las marcas de automóviles y camiones livianos del mercado colombiano: CHEVROLET, FORD, RENAULT, TOYOTA, VOLKSWAGEN, PEUGEOT, SUZUKI, NISSAN, MITSUBISHI, MAZDA, KIA, HYUNDAI, DAEWOO, DODGE, FIAT, HONDA y más.</p> 
    </div> 
    </div>  
    </section>  
</about>