---
import JetBrains from "./icons/JetBrains.astro"
---

<body> 
   

    <footer class="footer">
        <div class="footer-container">
            <span class="footer-text">&copy; 2025 <a href="https://flowbite.com/" class="footer-link">Automotor</a>. All Rights Reserved.</span>
            <ul class="footer-list">
                <li><a href="/store" class="footer-link">Tienda</a></li>
                <li><a href="/#servicios" class="footer-link">Servicios</a></li>
                <li><a href="/#productos" class="footer-link">Productos</a></li>
                <li><a href="/#contactenos" class="footer-link">Contactos</a></li>
            </ul>
        </div>
    </footer>
    

</body>