---
const { class: className } = Astro.props; // Recibe la clase como prop
---
<html>
<body>
<header class={`header-b ${className || ''}`}>
  <nav class="nav-container">
      <!-- Logo -->
      <div class="logo">
          <a href="">
              <img src="" alt="" class="">
          </a>
      </div>

      <!-- Barra de búsqueda centrada -->
      <div class="search-container">
          <div class="search-bar">
              <input type="text" placeholder="Search for products" />
              <button class="search-button">
                  <span class="sr-only"></span>
                  <svg width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                      <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </svg>
              </button>
          </div>
      </div>

      <!-- Iconos a la derecha -->
      <div class="nav-right">
          <div class="nav-icons">
            <a href="" class="menu-item">
                <i class="fas fa-shopping-cart"></i>
               
                <span class="two-badge-cart">0</span>
            </a>
            <a href="/Wishlist" class="menu-item">
                <i class="fas fa-heart"></i>
                
                <span class="two-badge-wishlist">0</span>
            </a>
          </div>
      </div>
  </nav>
</header>
</body>
</html>
<style>

</style>