---
// Menu.astro
---

<div class="menu">
    <div class="menu-header">
      <input type="text" placeholder="Buscar por producto" class="search-input" />
    </div>
    <div class="menu-categories">
      <p class="menu-title">CATEGORÍAS</p>
      <ul>
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Mercado Libre</a></li>
        <li><a href="#">Cotizar Servicio</a></li>
        <li><a href="#">Contáctenos</a></li>
        <li><a href="#">Políticas de Garantía</a></li>
        <li><a href="#">Lista de Deseos</a></li>
        <li><a href="#">Inicio de Sesión / Registro</a></li>
      </ul>
    </div>
  </div>