---
import JetBrains from "./icons/JetBrains.astro";
---
<html>
<body>

   
        
        <div class="header-main">
            <button class="menu-btn">
                <i class="fas fa-bars"></i>
                <span>MENÚ</span>
            </button>
            <div class="logo-container">
                <JetBrains class="logo" />
              </div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </div>
        </div>
    <!-- Contenido de la imagen aquí -->

<!-- Menú Inferior -->
<nav class="bottom-menu">
    <a href="#" class="menu-item">
        <i class="fas fa-store"></i>
        <span>Tienda</span>
    </a>
    <a href="#" class="menu-item">
        <i class="fas fa-heart"></i>
        <span>Lista de deseos</span>
        <span class="badge-wishlist">0</span>
    </a>
    <a href="#" class="menu-item">
        <i class="fas fa-shopping-cart"></i>
        <span>Carrito</span>
        <span class="badge-cart">0</span>
    </a>
    <a href="#" class="menu-item">
        <i class="fas fa-user"></i>
        <span>Mi cuenta</span>
    </a>
</nav>



  
</body>
</html>
  