<body>
<section>
<div class="grid-container" id='productos'>
    <h1>Productos</h1>
    <div class="grid-layout" >
        <div class="grid-item grid-item-large">
            <img src='/images/carss.jpg' width="556" height="665" alt="Iluminación LED">
            <div class="label">Embragues</div>
        </div>
        <div class="grid-item">
            <img src='/images/R.jpg' width="495" height="330" loading="lazy" alt="Baterías Solares">
            <div class="label">Disco</div>
        </div>
        <div class="grid-item">
            <img src='/images/745.jpeg' width="495" height="330" loading="lazy" alt="Transformadores">
            <div class="label">Transformadores</div>
        </div>
        <div class="grid-item">
            <img src='/images/OIP.jpg' width="495" height="330" loading="lazy" alt="Medidores">
            <div class="label">Medidores</div>
        </div>
        <div class="grid-item">
            <img src='/images/v8.jpg' width="495" height="330" alt="Plantas Eléctricas">
            <div class="label">Electrovalvulas</div>
        </div>
    </div>
</div>
</section>
</body>