<div class="grid-container">
    <h1>Productos</h1>
    <div class="grid-layout">
        <div class="grid-item grid-item-large">
            <img src='/images/carss.jpg' alt="Iluminación LED">
            <div class="label">Embragues</div>
        </div>
        <div class="grid-item">
            <img src='/images/R.jpg' alt="Baterías Solares">
            <div class="label">Disco</div>
        </div>
        <div class="grid-item">
            <img src="" alt="Transformadores">
            <div class="label">Transformadores</div>
        </div>
        <div class="grid-item">
            <img src="" alt="Medidores">
            <div class="label">Medidores</div>
        </div>
        <div class="grid-item">
            <img src="" alt="Plantas Eléctricas">
            <div class="label">Electrovalvulas</div>
        </div>
    </div>
</div>