<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" /></link>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" /></link>

<body>
    <section>
<section class="services-container" id='servicios'>
    <h2 class="services-title">Nuestros Servicios</h2>
    
    <div class="services-grid" >
        <div class="service-card">
            <div class="service-icon">
            <i class="fa-solid fa-star"></i>
        </div>
            <h3 class="service-title">Calidad Garantizada</h3>
            <p class="service-description">Ofrecemos los más altos estándares de calidad en todos nuestros servicios y productos.</p>
        </div>
        
        <div class="service-card">
            <div class="service-icon">
            <i class="fa-solid fa-dollar-sign" ></i>
        </div>
            <h3 class="service-title">Precios Competitivos</h3>
            <p class="service-description">Las mejores tarifas del mercado sin comprometer la calidad del servicio.</p>
        </div>
        
        <div class="service-card">
            <div class="service-icon">
            <i class="fa-solid fa-gear" ></i>
        </div>
            <h3 class="service-title">Mecánica Automotriz</h3>
            <p class="service-description">Servicio técnico especializado con los mejores profesionales del sector.</p>
        </div>
        
        <div class="service-card">
            <div class="service-icon">
            <i class="fa-solid fa-truck-fast"></i>
        </div>
            <h3 class="service-title">Envíos a todo el país</h3>
            <p class="service-description">Garantizamos entregas seguras y puntuales a cualquier parte del territorio.</p>
        </div>
        
        <div class="service-card">
            <div class="service-icon">
            <i class="fa-solid fa-mobile-button" ></i>
        </div>
            <h3 class="service-title">Atención al Cliente</h3>
            <p class="service-description">Soporte personalizado 24/7 para atender todas tus consultas y necesidades.</p>
        </div>
    </div>
</section>
</section>
</body>